/vendor
.env
/storage/app/public/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
Homestead.yaml
Homestead.json
/nbproject
composer.phar
composer.lock
.DS_Store
Thumbs.db
origen.sublime-project
origen.sublime-workspace
ubuntu-xenial-16.04-cloudimg-console.log
.vscode