.paginacion{
    display: -webkit-inline-box;
    float: right;
}
.opcionPaginacion{
    padding: 5px;
}

.tablaDetallesConsulta td {
    padding-left: 10vw;
    padding-bottom: 20px;
}

.tablaDetallesConsulta .fecha {
    font-weight: bolder;
}

.minimum {
    width: 90%!important;
}